.js-plotly-plot .plotly .modebar { 
  background: transparent !important;
}

.js-plotly-plot .plotly .modebar-btn path {
  fill: #ffeed2 !important;
  &:hover {
    fill: darken(#ffeed2, 20) !important;
  }
}

.js-plotly-plot .plotly .crisp {
  stroke: #1e1e1e !important;
  stroke-opacity: 1 !important;
}