.js-plotly-plot .plotly .modebar { 
  background: transparent !important;
}

.js-plotly-plot .plotly .modebar-btn path {
  fill: #00576c !important;
  &:hover {
    fill: darken(#00576c, 10) !important;
  }
}

.js-plotly-plot .plotly .crisp {
  stroke: #000 !important;
  stroke-opacity: .1 !important;
}