.Chart__view {
  background-color: #ffeed2;
  height: 100vh;
  padding: 50px;
}

.Chart__chart-container {
 padding-top: 25px;
}

.Chart__banner {
  text-align: center;
  padding-top: 100px;
  font-weight: 600;
  color: #ffeed2;
}

.Chart__banner-actions {
  
}

.Chart__banner-tabs {
  float: left;
  list-style-type: none;
  padding-top: .875em;
  padding-left: 1em;
  padding-right: 1em;
  height: 3em;
  background-color: #00576c;
  width: 8em;
  cursor: pointer;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 3px solid #00576c;
  border-bottom: none;

  &:hover {
    background-color: darken(#00576c, 7);
    border-color: darken(#00576c, 7);
  }
}

.Banner__tab-active {
  background-color: #ffeed2;
  color: #00576c;

  &:hover {
    background-color:#ffeed2;
    border-color: #00576c;
  }
  
}

.Chart__banner-edit {
  float: right;
  margin-left: 3%;
  margin-top: 1%;
  width: 15em;
  border: none;
}

.Chart__banner-title {
  color: #00576c;
  clear: both;
}

.Chart__banner-title-units{
  line-height: 0;
  color: #00576c;
}

.Chart__banner-tool {
  background-color: #00576c;
  padding: 5px;
  min-width: 5em;
  cursor: pointer;

  &:hover {
    background-color: darken(#00576c, 7);
  }
}

.Chart__banner-chart-dropdown {
  margin-top: 1%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-left: .5em;
}

.Chart__banner-chart-dropdown > select {
  padding-right: 2.5em;
  background-color: transparent;
  border: 0;
  margin: 0;
  text-indent: 0.01px;
  text-overflow: '';
  border-radius: 0;
  cursor: pointer;
  color: #ffeed2;
  font-size: 1em;
  font-weight: 600;
}

