/* Modal */
.Wizard__menu-column {
  margin-top: 200px;
  padding: 10px;
  width: 700px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Wizard__header-title {
  font-weight: 600;
  font-size: 20px;
}

.Wizard__menu-column-row-title {
  border-bottom: 1px solid #aeb0b5;
  width: 100%;
  min-height: 40px;
  padding-top: .5em;
  cursor: pointer;

  &:hover {
    background-color: #aeb0b5;
  }

}

.Wizard__menu-column-row-icon {
  padding-top: .25em;
  margin-left: 2em;
}

.Wizard__menu-column-row-body {
  margin-top: .5em;
  width: 100%;
  cursor: pointer;
  min-height: 50px;
}

.Wizard__menu-column-row-body-list {
  padding-left: 4em;
  font-size: .8em;
  padding-top: .25em;
  padding-bottom: .25em
}

.Wizard__menu-column-row-base-list {
  padding-left: 6em;
  cursor: pointer;
  font-size: .8em;

  & p {
    margin: 0;
    margin-bottom: 0.15em;
  }
}