.Wizard__view {
  padding: 100px;
}

.Wizard__begin {
  padding: 200px;
  padding-top: 50px;
}

.Wizard__menu-column {
  margin: 1%;
  width: 45%; 
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  display: inline-block;
  padding: 1%;
}

.Wizard__menu-column-content {
  margin-top: 20px;
}

.Wizard__header-title {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.Wizard__menu-column-row-title {
  border-bottom: 1px solid #aeb0b5;
  width: 100%;
  min-height: 40px;
  padding-top: 1em;
  padding-left: 1em;
  cursor: pointer;
  position: relative;
  
  
  &:hover {
    background-color: lighten(#00576c, 20);
    color: #ffeed2;
  }

  & p {
    position: absolute;
    display: inline;
    margin: 0;
    margin-left: 10px;
  }
}

.Wizard__menu-column-row-name {
  padding-top: .25em;
  margin-left: 2em;
}

.Wizard__menu-column-row-body {
  margin-top: .5em;
  width: 100%;
  cursor: pointer;
  min-height: 50px;
}

.Wizard__menu-column-row-body-list {
  padding-left: 4em;
  padding-top: .25em;
  padding-bottom: .25em;
  overflow: auto;
}

.Wizard__menu-column-row-base-list {
  margin: .25em 0 .25em 6em;
  cursor: pointer;

  & p {
    margin: 0;
    margin-bottom: 0.15em;

    &:hover { 
      color: #ee872d;
    }
  }
}

.Wizard__indicator-row-icon {
  width: 30px;
  height: 30px;
  float: left;
  font-size: 25px;
}

.Wizard__menu-column-row-base-float {
  float:left;
  width: 42%;
  margin: 1%;
  position: relative;
  min-height: 30px;
  
  & p {
    margin: 0;
    margin-bottom: 0.15em;
    display: inline;
    position: absolute;
    top: 25%;
    margin-left: 10px;
  }

  &:hover { 
      color: #ee872d;
    }
}

.Wizard__chart-option {
  float:left;
  padding: 1em;
  font-size: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: center;
  cursor: pointer;
}

.Wizard__chart-option-icon {
  display: inline-block;
  font-size: 4em;
}

.Wizard__item-selected {
  animation: pulse .75s;
  background-color: rgba(252,178,72,1);

  & p{
    font-weight: bold;
    &:hover {
      color: #00576c;
    }
  }

  &:hover {
    color: #00576c;
  }

}

.Wizard__item-selected-blue {
  animation: pulse .75s;
  background-color: navy;
  color: #ffeed2;

  & p{
    font-weight: bold;
    &:hover {
      color: rgba(252,178,72,1);
    }
  }

  &:hover {
    color: rgba(252,178,72,1);
  }

}

.Wizard__search-input {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 1em;
  color: #00576c;
}

.Wizard__search-results {
  font-size: 1em;
  background-color: white;
  position: absolute;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 10px;
  overflow: scroll;
  display: block;
  max-height: 45vh;

  
  & td{
    text-align: left;
  }

  & tr:hover{
    cursor: pointer;
    background-color: #fad980;
  }
}

.Wizard__summary {
  margin-top: 60px;
}

.Wizard__summary-box {
  padding: .5em;
  min-height: 225px;
  background-color: #f7f7f7;
  width: 80%;
  border: 3px solid #323a45;
}

.Wizard__summary-box-section {
  padding: .25em;
  min-height: 100px;
}

.Wizard__summary-box-section-item {
  cursor: pointer;
  font-size: .85em;
  
  & p {
    display: inline-block; 
    margin: 0px;
    margin-right: 10px;
  }
} 

.Wizard__summary-box-item:hover {
  color: #981b1e;
  
} 
  
.Wizard__summary-box-title { 
  font-size: 1.25em;
}

.Wizard__progress-buttons {
  margin-top: 50px;
}

.Wizard__progress-buttons {
  margin-top: 50px;
  width: 75%;
  float: left;
}

.Wizard__progress-buttons > a {
  float: right;
}

.Wizard__buttons {
  cursor: pointer;
  position: relative;
  margin: 0 0 1.25rem;
  display: inline-block;
  padding: .8em 1.6em .8625em 1.6em;
  margin-left: 10px;
  min-width: 100px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: background-color 150ms ease-out;
  -moz-transition: background-color 150ms ease-out;
  -o-transition: background-color 150ms ease-out;
  -ms-transition: background-color 150ms ease-out;
  transition: background-color 150ms ease-out;
  border: 2px solid;
  color: white;
  background-color: rgba(252,178,72,0.6);
  border-color: #ee872d;

  &:hover {
    transition: .5s;
    background-color: rgba(252,178,72,1);
  }
  &.disabled {
    background-color: lightgrey;
    border-color: lightgrey;
    cursor: not-allowed;
  }
}


.Wizard__begin-buttons {
  text-align: center;
}

.Wizard__begin-buttons > a {

  min-width: 220px;
}



@media screen and (max-width: 692px)   {
    .Wizard__view {
      padding: 20px;
    }
    .Wizard__menu-column {
        width:95%;   
        float:none;
    }
}