.Wizard__view {
  padding: 100px;

}

.Wizard__menu-column {
  margin: 1%;
  width: 45%; 
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  display: inline-block;
  padding: 1%;
}

.Wizard__menu-column-content {
  margin-top: 20px;
}

.Wizard__header-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.Wizard__menu-column-row-title {
  border-bottom: 1px solid #aeb0b5;
  width: 100%;
  min-height: 40px;
  padding-top: .5em;
  cursor: pointer;
  &:hover {
    background-color: #aeb0b5;
  }
}

.Wizard__menu-column-row-icon {
  padding-top: .25em;
  margin-left: 2em;
}

.Wizard__menu-column-row-body {
  margin-top: .5em;
  width: 100%;
  cursor: pointer;
  min-height: 50px;
}

.Wizard__menu-column-row-body-list {
  padding-left: 4em;
  font-size: .8em;
  padding-top: .25em;
  padding-bottom: .25em
}

.Wizard__menu-column-row-base-list {
  padding-left: 6em;
  cursor: pointer;
  font-size: .8em;

  & p {
    margin: 0;
    margin-bottom: 0.15em;
  }
}

@media screen and (max-width: 692px)   {
    .Wizard__view {
      padding: 20px;
    }
    .Wizard__menu-column {
        width:95%;   
        float:none;
    }
}